<div class="main-wrapper">

  <div class="card" *ngIf="step === 1">
    <h2>Nivel 1: Memoria (te falla casi siempre)</h2>
    <p>Cuándo nos hicimos flacos?</p>
    <input type="date" [(ngModel)]="anniversaryInput" class="custom-input">
    <button (click)="checkFirstStep()" class="btn-next">Segura?</button>
  </div>

  <div class="card" *ngIf="step === 2">
    <h2>Nivel 2:</h2>
    <p>Cuál es la frase que más te digo?</p>
    <div class="options">
      <button (click)="nextStep(true)" class="btn-option">bb tonta</button>
      <button (click)="nextStep(false)" class="btn-option">bb chikita</button>
      <button (click)="nextStep(false)" class="btn-option">bb enana</button>
    </div>
  </div>

  <div class="card" *ngIf="step === 3 && !accepted">
    <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExOHpueGZ3bmZqZzR3eGZ3bmZqZzR3eGZ3bmZqZzR3eGZ3bmZqJnB0PT1zJm09MSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/cLS1cfxvGOPVpf9g3y/giphy.gif" class="gif">
    <h1>Casi no aciertas ninguna</h1>
    <p>Vanessa, quieres ser mi San Valentín?</p>

    <div class="btn-group">
      <button class="btn-yes" (click)="confirm()">Lo voy a pensar️</button>
      <button class="btn-no"
              (mouseover)="moveNoButton()"
              [style.left.px]="noBtnPos.x"
              [style.top.px]="noBtnPos.y"
              [style.position]="noBtnPos.position">
        No
      </button>
    </div>
  </div>

  <div class="card final-card" *ngIf="accepted">
    <h1>Te voy a dar el honor</h1>

    <img src="FullSizeRender.JPEG" class="foto-final">

    <h2>Trato hecho</h2>
    <p>Hoy te invito a comer lo que quieras bb.</p>
    <p class="footer-msg">Te amo bb</p>
  </div>

</div>
